root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 250
# Disable wildcard imports rule
ktlint_standard_no-wildcard-imports = disabled
# Disable function naming for Compose (Composables use PascalCase)
ktlint_standard_function-naming = disabled
# Disable property naming (allow INSTANCE pattern for singletons)
ktlint_standard_property-naming = disabled
# Disable trailing comma rules
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
# Disable wrapping rules that force code to new lines
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_chain-wrapping = disabled
ktlint_standard_wrapping = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_backing-property-naming = disabled

[*.md]
trim_trailing_whitespace = false

[*.{xml,json}]
indent_size = 2
indent_style = space
